body,html{
	height:100%;
}

body{
	background-color:#e6e6e6;
}

#navbar{
	background-color: #660000;
	color:white;
	width:100%;
	height:50px;
	font-size:14pt;
	font-family: Clarendon Lt BT;
}

#navbar ul{
	margin-left: 90px;
	padding-top: 15px;
}
#navbar li{
	list-style-type: none;
	float:left;
	padding-left: 180px;
}

#title{
	background-color: black;
	text-align: center;
	width:100%;
	height:100px;
	font-family: Algerian;
	font-size: 80pt;
	line-height: 70px;
	padding-top: 25px;
	padding-bottom: -10px;
	float:center;
}

/*COPY SAMPAI SINI */

.home{
	background-color: rgba(0,0,0,0.0);
	height:500px;
	margin-top: -36px;
	padding:10px;
}

.home .par1 #con1{
	background-color: #ffcc00;  /*orange*/
	float:left;
	width:300px;
	height: 470px;
	margin-right: 30px;
	color: #660000;
	font-size: 15pt;
	font-family: Bookman Old Style;
	padding:15px;
	border:10px;
	border-color: solid yellow;
}

.home .par1 {    /* wallpaper1*/
	 background-image: url('back1.jpg');   
	  background-attachment: fixed;
	  background-position: right-right;
	  background-repeat: no-repeat;
	  background-size: cover;
	  margin-top: 50px;
	  width:100%;
	  height: 100%; 
}

.home .pics1{
	margin-top: 20px;
	margin-left: 3px;
}
.home .pics1 #pic1{
	float:left;
	width:420px;
	height:450px;
	margin-right: 20px;
}

.home .pics1 #pic2{
	float:left;
	width:420px;
	height:450px;	
	margin-right:20px;
}

.home .pics1 #pic3{
	float:left;
	width:420px;
	height:450px;
}

.home .par2{    /*wallpaper2*/
	background-image: url('back2.jpg');   
	  background-attachment: fixed;
	  background-position: right-right;
	  background-repeat: no-repeat;
	  background-size: cover;
	  width:100%;
	  height: 100%; 
	  margin-top:490px;
}

.home  #con2{
	background-color: #ffcc00;  /*orange*/
	float:right;
	width:350px;
	height: 470px;
	color: #660000;
	font-size: 15pt;
	font-family: Bookman Old Style;
	padding:15px;
}

/*COPY*/
.footer{
	height:70px;
	background-color: #660000;
	color: white;
	margin-top: 20px;
	padding:20px;
	text-align: center;
	font-family: Clarendon Lt BT;
	font-size: 14pt;
}



